@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

img {
    height: 30px;
    width: 30px;
}

#navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
}

#basic-navbar-nav {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}
