@import url('../CSS/GoogleFonts.css');

img {
    height: 30px;
    width: 30px;
}

#navbar-brand {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
}

#basic-navbar-nav {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}
