@import url('../CSS/GoogleFonts.css');

/* .form {
    display: block;
    align-items: center;
    margin: 0 auto
} */

#input, #text-area {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    padding: 10px;
    margin:10px;
}

#form-btn {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    padding: 10x;
    margin:10px;
}