body {
  background-image: url("../../Images/plantbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
}

html, body {
  height: 100%;
  position: relative;
}

.container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 50px;
}