@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#my-blogs, #latest {
    font-family: 'Pacifico', cursive;
    padding: 5px;
    margin:5px;
}

#my-blogs {
    font-size: 50px;
    color:green
}

#latest {
    font-size: 30px;
    font-weight: bold;
    color: green
}

#no-posts, #blog {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: black
}