@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

#blog-title {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    padding: 10x;
    margin:10px;
    color:green
}

#blog-author, #blog-text, #back-to-blogs {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    padding: 10px;
    margin:10px;
    color: black
}