@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

#my-blogs, #latest, #no-posts {
    font-family: 'Comfortaa', cursive;
    padding: 10px;
    margin:10px;
}

#my-blogs {
    font-size: 50px;
}

#latest, #no-posts {
    font-size: 30px;
}

#latest {
    font-size: 30px;
    font-weight: bold;
    color: green
}

#no-posts, #blog {
    font-size: 20px;
    color: black
}