@import "./GoogleFonts.css";

#my-dash, #latest-blog-posts {
    font-family: 'Pacifico', cursive;
    color: #7da27e;
}

#forecast, #card-day {
    font-family: 'Pacifico', cursive;
    color:black;
}

#forecast, #latest-blog-posts {
    padding: 10x;
    margin:10px; 
}

#forecast {
    font-size: 100px;
}

#card-day {
    font-size:30px;
}

/* .card {

} */

/* #card-icon {

} */

#card-date, #card-temp, #card-description, #blog-link {
    font-family: 'Comfortaa', cursive;
    color: black;
}

#card-date, #card-temp, #blog-link {
    font-size: 20px;
}

#card-description {
    font-size: 10px;
}

#no-weather {
    font-family: 'Comfortaa', cursive;
    font-size:40px;
}

#latest-blog-posts {
    font-size: 40px;
}



