@import "./GoogleFonts.css";
#plant-name, .plant-subtitle, #back-to-plants-list {
    color: #7da27e;
}

#plant-name, .plant-subtitle {
    font-family: 'Pacifico', cursive;
}

.plant-subtitle {
    font-size: 35px;
}

#plant-description, #plant-season ,#getting-started, #maintenance, #back-to-plants-list {
    font-family: 'Comfortaa', cursive;
}

#plant-description, #plant-season ,#getting-started, #maintenance {
    font-size: 20px;
    color:black;
}

#back-to-plants-list {
    font-size: 25px;
    padding: 10px;
    margin:10px;
}